
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfvars
**/*.tfvars.json
**/*_override.tf
**/*_override.tf.json
**/override.tf
**/override.tf.json
**/.terraform/
**/.terraform.lock.hcl
**/*.plan
**/.terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/.terraform.d/
